body {
    background-color: black;
}

.collapse.navbar-collapse.ml-auto {
    justify-content: right;
}
/* Style for the active link */
.navbar-dark .navbar-nav .nav-item.active .nav-link {
    color: #F23580; /* Change this to the desired color */
}

a {
    color: #117a8b;
    text-decoration: none;
    background-color: transparent;
}

.content-container {
    padding-top: 70px; /* Adjust this value to match your navbar height */
    margin-top: 0; /* Reset margin */
    overflow-x: hidden; /* Hide horizontal scrollbar if needed */
}
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1030; /* Ensure it's above other elements */
}



.text-body-secondary{
    color: white;
}
   
   
    @media (min-width: 768px) {
        .navbar-nav {font-size: 1.4rem;
        }
        .text-body-secondary {
            padding: 2%;
            margin-top: 13%;
            margin-left: 46%;
            font-size: 1.4rem;
            font-weight: 400;
            display: flex;
            width: 44%;
            text-align: left;
            /* justify-content: right; */
        }
        .jumbotron.jumbotron-fluid {
            color: #00BFF0;
            background-color: transparent;
            margin-top: -5%;
        }
        .navbar-toggler {
            background-color: transparent;
            border: none;
        }
        
        /* Add a box shadow on hover */
        .navbar-toggler:hover {
          
            box-shadow: -1px 0px 13px 4px white /* Adjust the values as needed */;
        }
        #back-arrow {
            font-size: 1.4rem;
            margin-left: 20px;
            margin-top: 4%;
            margin-bottom: 0%;
            /* padding-bottom: 3%; */
            /* padding: 6rem; */
            color: #00BFF0;
        }
       
       
        .container-fluid {
            width: 87%;
        }
        .centered-image img {
            margin-top: -72%;
            width: 77%;
        }
        .container-fluid img {
            width: 100%;
            border-radius: 25px;
        }
        .h3, h3 {
            margin-left: 4%;
            padding: 2%;
            margin-top: -60%;
            font-size: 2.5rem;
        }
       
       
        .menu-icon-img img {
                    width: 50px;
                }
         .menu-icon-img img {
                    transition: transform 0.3s; /* Add a smooth transition effect */
                }
            
        .menu-icon-img:hover img {
                    transform: scale(1.1); /* Increase the size on hover */
                }
        .container-fluid{ 
                    width: 80%;
        }
        /* Style for the footer */
.footer {
    background-color: black;
    color: #fff;
    padding: 30px 0;
}

/* Style for the contact info */
.footer p {margin-top: 30px}
 

/* Style for social icons */
.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline;
    margin-right: 10px;
}

.social-icons a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
.container-fluid footer{
    position:absolute;
}
.col-md-6-footer {
    text-align: left;
   
}
.container-fluid footer {
   
    padding: 1rem;
    background-color: black;
    box-shadow: -1px 1px 14px 0px #00BFF0;
}
.container-fluid footer img {
    margin-left: 37%;
    justify-content: center;
    width: 25%;
    margin-top: -63px;
}
.container-fluid footer p {
    text-align: right;
    margin-top: -2rem;
    font-size: 0.8rem;
    padding-right: 9px;
    margin-top: -49px;
}
    dl, ol, ul {
        margin-top: 0;
        margin-bottom: -3rem;
    }
    #footer-nav ul li {
        list-style: none; /* Remove the list markers (dots) */ color: #f23580;
    }
    a {
        color: #f23580;
        text-decoration: none;
        background-color: transparent;
    }
    a:hover {
        color: #00BFF0;
        text-decoration: underline;
    }
#footer-image {
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

#footer-image:hover {
    transform: scale(1.2); /* Zoom in by 20% on hover */
}

/* Adjust styles as needed to match your website's design */

    }
        
     
    @media (min-width 1024px)
    { 
                
     .navbar-nav{
        font-size: 1.4rem;
     }
     #back-arrow {
         margin-left: 20px;
         margin-top: 2%;
         margin-bottom:2%;
        padding-bottom: 3%;
                    /* padding: 6rem; */
         color: #00BFF0;
        }
        .jumbotron-fluid {
        margin-top: -126px;
        padding-right: 12%;
        padding-left: 12%;
         border-radius: 0;
                    }
                    
         .container-fluid
        { 
         margin-right: auto;
            margin-left: auto;
        }
        .h3, h3 {
          margin-left: 4%;
         padding: 2%;
          margin-top: -60%;
         font-size: 2.5rem;
        }
        .text-body-secondary{        
                       
          margin-top: 19%;
         padding-right: 4%;
        }
                    
               
    }
                    
                  
            
                    @media (min-width 1920px) { 
                        .navbar-nav{
                            font-size: 2rem;
                            padding: 2%;

                          }
                        .jumbotron.jumbotron-fluid {
                            margin-left: 200px; margin-right:
                        }
                     .container-fluid{ 
                        width: 80%;
                     }
                        .container-fluid img {
                            justify-content: center;
                            width: 100%;
                            padding-right: 200px;
                            padding-left: 200px;
                            border-radius: 24px;
                        }
                        .text-body-secondary{
                            margin-top: 20%;
                            margin-left: 46%;
                            font-size: 1.6rem;
                            font-weight: 400;
                            display: flex;
                            width: 50%;
                            text-align: right;
                            /* justify-content: right; */
                        }
                        
                        
                    }

                
            
    
     